:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* General elements reset */

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3rem;
  padding: 0px;
  margin: 0px;
}

input[type="text"] {
  font-size: large;
  background-color: #ffffff;
  padding: 0.5rem;
  border: 3px solid aquamarine;
}

input[type="text"]:focus {
  outline: none;
  border-color: rgb(73, 190, 151);
}

button {
  margin: 0;
  border-radius: 8px;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 0.5rem 2rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  background-color: rgb(241, 241, 241);
  transition: background-color 0.5s;
}

button:hover {
  background-color: aquamarine;
}

button:focus,
button:focus-visible {
  background-color: rgb(73, 190, 151);
}

.card {
  padding: 2em;
}

#app {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.checkbox-restyle {
  appearance: none;
  -webkit-appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border: 5px solid aquamarine;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
  transition: all 0.15s;
}

.checkbox-restyle:checked {
  background-color: aquamarine;
  border-color: aquamarine;
}

.checkbox-restyle:checked::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 0px;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

/* Buttons and inputs */
.two-button-group {
  display: flex;
  flex-direction: row;
}

.two-button-group .btn-1 {
  border-radius: 9999px;
  position: relative;
  left: -5px;
  z-index: 1;
  border: 5px solid blanchedalmond;
}

.two-button-group .btn-2 {
  position: relative;
  right: 30px;
  padding: 0.5rem 2rem 0.5rem 3rem;
  border-radius: 0 9999px 9999px 0;
  border: 5px solid blanchedalmond;
}

.input-button-group {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.input-button-group .input {
  border: 3px solid aquamarine;
  font-size: medium;
  text-align: center;
}

.input-button-group .input:focus {
  outline: none;
  border-color: rgb(73, 190, 151);
}

.input-button-group .btn {
  padding: 0.5rem 2rem 0.5rem 2.5rem;
  border-radius: 0 9999px 9999px 0;
}

.three-button-group {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.three-button-group .btn-1 {
  border-radius: 9999px;
}

/* Modals */

.modal-title {
  margin-top: 0.5rem;
}

.modal {
  position: absolute;
  width: 60%;
  background-color: white;
  padding: 2rem;
}

.modal-overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Lists and items */
.fancy-list-item {
  padding: 0.5rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-left: 5px solid aquamarine;
  border-right: 5px solid aquamarine;
  border-radius: 6px;
  background: beige;
}

.fancy-list-item:hover {
  background-color: blanchedalmond;
}

.fancy-list-entry-title {
  font-size: large;
  font-weight: 400;
}

.fancy-list-entry-checkbox-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
