:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* General elements reset */

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 2rem;
  padding: 0px;
  margin: 0px;
}

h2 {
  font-size: 1.5rem;
  padding: 0px;
  margin: 0px;
}

h3 {
  font-size: 1rem;
  padding: 0px;
  margin: 0px;
}

input[type="text"],
input[type="password"] {
  font-size: large;
  background-color: #ffffff;
  padding: 0.5rem;
  border: 3px solid aquamarine;
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
  border-color: rgb(73, 190, 151);
}

button {
  margin: 0;
  border-radius: 8px;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  background-color: rgb(241, 241, 241);
  transition: background-color 0.5s;
}

button:hover {
  background-color: aquamarine;
}

button:focus,
button:focus-visible {
  background-color: rgb(73, 190, 151);
}

.checkbox-restyle {
  appearance: none;
  -webkit-appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border: 5px solid aquamarine;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
  transition: all 0.15s;
}

.checkbox-restyle:checked {
  background-color: aquamarine;
  border-color: aquamarine;
}

.checkbox-restyle:checked::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 0px;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

/* Navigation */
nav {
  width: 100%;
  background-color: #fdf6e3;
  position: fixed;
  padding: 20px 0px;
  display: flex;
  align-items: center;
}

nav ul {
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  padding: 0;
}

nav ul li {
  list-style: none;
  text-align: center;
  font-size: large;
  font-weight: 500;
  cursor: pointer;
}

.inactive {
  transition: transform 0.2s ease;
}

.inactive:hover {
  transform: scale(1.5);
}

.active a {
  font-weight: 900;
}

.nav-link {
  color: black;
  text-decoration: none;
}

.nav-link:hover {
  color: black;
}

/* Buttons and inputs */
.two-button-group {
  display: flex;
  flex-direction: row;
}

.two-button-group .btn-1 {
  border-radius: 9999px;
  position: relative;
  left: -5px;
  z-index: 1;
  border: 5px solid blanchedalmond;
}

.two-button-group .btn-2 {
  position: relative;
  right: 30px;
  padding: 0.5rem 2rem 0.5rem 3rem;
  border-radius: 0 9999px 9999px 0;
  border: 5px solid blanchedalmond;
}

.input-button-group {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.input-button-group .input {
  border: 3px solid aquamarine;
  font-size: medium;
  text-align: center;
}

.input-button-group .input:focus {
  outline: none;
  border-color: rgb(73, 190, 151);
}

.input-button-group .btn {
  padding: 0.5rem 2rem 0.5rem 2.5rem;
  border-radius: 0 9999px 9999px 0;
}

.btn-icon {
  border-radius: 9999px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.two-buttons-middle-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1rem;
}

.two-buttons-middle-text .text {
  padding: 0 2rem;
}

.three-button-group {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 5px;
}

.unit-amount-delete-btn {
  color: rgb(183, 183, 183);
}

.unit-amount-delete-btn:hover {
  cursor: pointer;
}

/* Modals */

.modal-title {
  margin-top: 0.5rem;
}

.modal {
  position: absolute;
  width: 60%;
  background-color: white;
  padding: 2rem 5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.modal-big {
  height: 50vh;
}

.modal-small {
  height: 15vh;
}

.modal-overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal > header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 0.5rem;
}

/* Sections */
.preview-section {
  height: 2rem;
}

.preview-section p {
  font-size: medium;
  margin: 0;
}

/* Lists and items */
.fancy-list-item {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-left: 5px solid aquamarine;
  border-radius: 6px 0px 0px 6px;
  background: beige;
}

.fancy-list-item:hover {
  background-color: blanchedalmond;
}

.fancy-list-entry-title {
  font-size: large;
  font-weight: 400;
}

.fancy-list-entry-checkbox-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.units-amount-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.units-amount-list .units-amount-item:first-child {
  margin-left: 0;
}

.units-amount-item {
  font-size: small;
  padding: 0.5rem 1rem;
  background-color: rgb(241, 241, 241);
  border-radius: 8px;
  margin: 0.2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.scroll-list-container {
  min-height: 0;
}

.scroll-list {
  min-height: 0;
  flex: 1;
  overflow-y: auto;
}

.scroll-list::-webkit-scrollbar {
  width: 5px;
}

.scroll-list::-webkit-scrollbar-track {
  background: rgb(241, 241, 241);
  border-radius: 4px;
}

.scroll-list::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.list-entry {
  margin: 20px 0px;
  text-align: center;
}

.list-entry:hover {
  cursor: pointer;
}

.list {
  width: 100%;
  padding: 0px;
}

.list-of-choices {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  margin-top: 1rem;
}

.list-of-choices .list-item-title-two-buttons {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;
  padding: 0.5rem 2rem;
  font-size: large;
}

.list-of-choices .list-item-title-two-buttons:hover {
  background-color: beige;
  cursor: pointer;
}

.list-of-choices .list-item-title-two-buttons .title {
  grid-column: 1;
  grid-row: 1;
}

.list-of-choices .list-item-title-two-buttons .two-button-group {
  grid-column: 1;
  grid-row: 2;
}

.list-of-choices .list-item-title-two-buttons .info {
  grid-column: 2;
  grid-row: 1 / span 2;
}

.list-of-choices .selected {
  background-color: blanchedalmond !important;
}

.list-of-choices .selected:hover {
  background-color: blanchedalmond;
}

.list-of-choices .added {
  background-color: rgb(241, 241, 241);
}

.list-of-choices .list-title {
  padding-bottom: 1rem;
}

.list-of-choices .list-item-input-button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5rem 2rem;
  font-size: large;
}

.list-of-choices .list-item-input-button:hover {
  background-color: beige;
  cursor: pointer;
}

.preview-list {
  display: flex;
  flex-direction: column;
}

.preview-list-item {
  padding-left: 1rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  padding: 0.5rem 1rem;
}

.preview-list-item:hover {
  background-color: rgb(241, 241, 241);
}
